@page "/"

@inject IJSRuntime jsRuntime;

<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
    <MudGrid>
        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;">
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;">
                <MudButton OnClick="RevealTheNetwork" Color="Color.Primary" Variant="Variant.Filled" FullWidth="true" Size="Size.Large">
                    Reveal the Network
                </MudButton>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="12" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;"></MudPaper>
        </MudItem>
        <MudItem xs="12" sm="12" md="12">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 700px;">
                <div id="network-container">
                </div>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>

@code
{
    async Task RevealTheNetwork()
    {
        await this.jsRuntime.InvokeVoidAsync("RevealTheNetwork");
    }
}
